body
{
	font-family: Fira Sans;
}

.caixaCinza a:hover, .caixaCinza a:link, .caixaCinza a:visited, .caixaCinza a:active
{
	color: #eeeeee;
	background: #7f7f7f;
	text-decoration: none;
}

.caixaVermelha a:hover, .caixaVermelha a:link, .caixaVermelha a:visited, .caixaVermelha a:active
{
	color: #eeeeee;
	background: #b22222;
	text-decoration: none;
}

.caixaSaldo a:hover, .caixaSaldo a:link, .caixaSaldo a:visited, .caixaSaldo a:active
{
	color: black;
	background: #eeeeee;
	text-decoration: none;
}

.Info
{
	padding: 1%;
	text-align: center;
}

.Info p
{
	padding-top: 3%;
}

.Menu
{
	color: yellow;
	margin-bottom: 1%;
	background: #eeeeee;
}

.Menu a:link, .Menu a:visited, .Menu a:hover, .Menu a:active
{
	color: black;
}

.ChamadoInfo
{
	padding: 1%;
	font-size: 0.9em;
}

#CA, #HT, #ES
{
	padding: 1%;
	color: white;
	font-size: 1.2em;
	background: #333333;
}

.ChamadoInfo li
{
	list-style-type: none;
}

.table
{
	text-align: center;
}

.est
{
	padding: 1%;
}

.atalhoSuporte
{
	text-align: center;
}
.atalhoSuporte a:hover, .atalhoSuporte a:visited, .atalhoSuporte a:link
{
	color: white;
	text-decoration: none;
}

.Rodape
{
	bottom: 0;
	width: 100%;
	position: fixed;
	text-align: center;
	align-items: center;
	background: #161616;
}

.Rodape p, .Rodape a
{
	color: white; 
	margin: 0.5rem;
	font-size: 13px;
}

.Rodape a:hover, .Rodape a:visited, .Rodape a:link 
{
	color: white;
	text-decoration: none;
}
